<!-- <div class="modal fade" id="editCustomerModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="editCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCustomerModalLabel">Kişi Güncelle</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateCustomerForm">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="customerName" class="form-control" id="customerName"
                            placeholder="Ad-Soyad">
                        <label for="floatingFirstname">Ad-Soyad</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="customerPhoneNumber" class="form-control" id="customerPhoneNumber"
                            placeholder="Telefon">
                        <label for="floatingLastname">Telefon</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" formControlName="customerBirthDate"  class="form-control" id="customerBirthDate"
                            placeholder="Doğum Tarihi">
                        <label for="floatingInput">Doğum Tarihi</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea type="text" formControlName="customerDescription" class="form-control" id="customerDescription"
                            placeholder="Açıklama"></textarea>
                        <label for="floatingInput">Açıklama</label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" (click)="updateCustomer()">Kaydet</button>
            </div>
        </div>
    </div>
</div> -->
