.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: #ff0099; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff0099, #493240); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff7897, #ff7897a1);}

