<div class="centered">
  <div class="customer-card scrolling">
    <div class="search">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Kişileri ara..." aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="customer-post">
      <div class="customer-post-list my-2" *ngFor="let customer of customers">
        <div class="row">
          <div class="col-md-8 info-content d-flex">
            <img class="customer-image me-3"
              src="https://www.shareicon.net/data/512x512/2016/07/26/802031_user_512x512.png" alt="" />
            <div class="row">
              <div class="col-12 customer-name">{{customer.customerName}}</div>
              <div class="col-12 customer-phone">{{customer.customerPhoneNumber}}</div>
              <div class="col-12 customer-date">{{customer.customerBirthDate|date: 'dd'}}-{{customer.customerBirthDate|date: 'MM'}}-{{customer.customerBirthDate|date:'yyyy'}}</div>
            </div>
          </div>
          <div class="col-md-3 action-btn">
            <button data-toggle="modal" data-target="#editCustomerModal"><i class="fas fa-edit"></i></button>
            <button><i class="fas fa-trash"></i></button>
          </div>
        </div>
        <div class="me-3">
          <span class="badge bg-danger">{{customer.customerDescription}}</span>
        </div>
      </div>
    </div>
    <div class="add-btn">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCustomerModal">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<app-add-customer></app-add-customer>
<app-update-customer></app-update-customer>